# Depurando los datos

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
covid_aragon = pd.read_csv('covid_aragon.csv')

In [3]:
covid_aragon

       FECHA  AFECTADOS  MUERTOS  UCI  Altas    PCR  Req Hospital
0      5-mar        1.0        0    1    0.0      1           NaN
1      6-mar        6.0        1    1    0.0      6           NaN
2     9/3/20       13.0        1    1    0.0     13           NaN
3    10/3/20       38.0        3    3    0.0     38           NaN
4    11/3/20       45.0        4    3    0.0     45           NaN
..       ...        ...      ...  ...    ...    ...           ...
320  21/1/21        NaN     2808  958    NaN  91191       10608.0
321  22/1/21        NaN     2824  960    NaN  91963       10692.0
322  23/1/21        NaN     2835  968    NaN  92643       10769.0
323  24/1/21        NaN     2847  977    NaN  93324       10847.0
324  25/1/21        NaN     2858  985    NaN  94005       10925.0

[325 rows x 7 columns]